#photoOfMe {
    width: 25em;
    height: auto;
}

#sectionContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 3em;
    
}

#textContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    white-space: normal;
    padding: 3em;
    text-align: center;
    width: 30em;
}

#contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8em;
}

#scrapbookBackground {
    position: absolute;
    z-index: -1;
    width: 60%;
    height: auto;
}

