@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Sail&display=swap');

h1 {
  font-family: "Sail", system-ui;
  font-weight: 400;
  font-size: 200;
}

h3, h2 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

